/* Resets browsers' default settings. */
* {
  padding: 0;
  margin: 0; 
}

/* Customised scrollbar for Chrome.  */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ffcce0;
}

::-webkit-scrollbar-thumb {
  background: #bda5d9;
  border-radius: 0.625rem; 
}

.body {
  background: hsl(0, 0%, 99%);
  font-family: europa, sans-serif;
}

.search-options-container {
  gap: 24px;
  display: flex;
  margin: 1.5em auto;
  width:  881px;
}

.select-box {
  align-self: center;
  background: #f5f5f5;
  border: 3px solid #00b398;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color:  #2d1c44;
  cursor:  pointer;
  flex: 1 1 auto;
  font-size:  0.9em;
  font-weight:  bold;
  height:  27px;
  outline:  none;
}

.select-box_fields-updated-margin-left {
  margin-left: 19px; /* Equls to 'gap: 24', which has effect on other elements. */
}

.btn {
  background: #f5f5f5;
  border: 2px solid #2d1c44;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color: #2d1c44;
  cursor:  pointer;
  flex: 1 1 auto;
  font-size:  1em;
  font-weight: bold;
  padding: 6px;
  max-width: 80px;
}

.combined-and-generate-btns-container {
  align-items: center;
  column-gap: 24px;
  display: flex;
  margin: auto;
  width: 353px;
}

.btn_combined-query-and-generate {
  flex: 0 0 auto;
  flex-direction: row;
  max-width: 200px;
}

.result-container {
  display: flex;
  flex-direction: column;
}

.result-content {
  background: hsl(0, 0%, 96%);
  border:  3px solid #d30059;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color: #333f48;
  font-size: 0.97em;
  font-weight: bold;
  height: 425px;
  margin: auto;
  overflow: auto;
  padding: 15px 0 0 15px;
  resize: vertical;
  width: 818px;
}

.result-header {
  color: #2d1c44;
  font-weight: bold;
  margin: 12px auto 10px auto;
  width: 818px;
}

@media only screen and (max-width: 56.19em) {  /* 899px */
  .search-options-container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 464px;
  }
  .result-content {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 53.69em) {  /* 859px */
  .result-content {
    width: 95.2278%; /* Equal to 818px */
    padding: 7px 0 0 7px;
  }
  .result-header {
    width: 95.2278%;
  }
}

@media only screen and (max-width: 48.19em) { /* 771px */
  .result-content {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 42.5em) {  /* 680px */
  .result-content {
    font-size: 0.7em;

  }
}

@media only screen and (max-width: 37.25em) { /* 596px */
  .result-content {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 32.25em) { /* 516px */
  .result-content {
    font-size: 0.5em;
  }
}
