/* Resets browsers' default settings. */
* {
  padding: 0;
  margin: 0; 
}

/* Customised scrollbar for Chrome.  */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ffcce0;
}

::-webkit-scrollbar-thumb {
  background: #bda5d9;
  border-radius: 0.625rem; 
}

.body {
  background: hsl(0, 0%, 99%);
  font-family: europa, sans-serif;
}

.search-options-container {
  column-gap: 24px;
  display: flex;
  margin: 1.5em auto;
  width:  881px;
}

.select-box {
  align-self: center;
  background: #f5f5f5;
  border: 3px solid #00b398;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color:  #2d1c44;
  cursor:  pointer;
  flex: 1 1 auto;
  font-size:  0.9em;
  font-weight:  bold;
  height:  27px;
  outline:  none;
}

.btn {
  background: #f5f5f5;
  border: 2px solid #2d1c44;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color: #2d1c44;
  cursor:  pointer;
  flex: 1 1 auto;
  font-size:  1em;
  font-weight: bold;
  padding: 6px;
  max-width: 80px;
}

.combined-and-generate-btns-container {
  column-gap: 24px;
  display: flex;
  margin: auto;
  width: 353px;
}

.btn_combined-query-and-generate {
  flex: 0 0 auto;
  flex-direction: row;
  max-width: 200px;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
}

.result-container {
  background: hsl(0, 0%, 96%);
  border:  3px solid #d30059;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color: #333f48;
  font-size: 0.97em;
  font-weight: bold;
  height: 425px;
  margin: auto;
  max-width: 818px;
  overflow: auto;
  padding: 15px 0 0 15px;
  width: 65%;
}

.result-header {
  color: #2d1c44;
  font-weight: bold;
  margin: 12px auto 10px auto;
  max-width: 818px;
  width: 65%;
}
