/* Customised scrollbar for Chrome.  */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffcce0;
}

::-webkit-scrollbar-thumb {
  background: #bda5d9;
  border-radius: 0.625rem; 
}

.body {
  background: hsl(0, 0%, 99%);
  font-family: sans-serif;
  overflow-x: hidden;
}

.search-options-container {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
  width:  1020px;
}

.select-box {
  background: #f5f5f5;
  border: 3px solid #00b398;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color:  #2d1c44;
  cursor:  pointer;
  font-size:  0.9rem;
  font-weight:  bold;
  height:  27px;
  outline: none;
}

.select-box_fields-updated-margin-left {
  margin-left: 19px; /* Equals to 'gap: 24', which has effect on other elements. */
}

.btn {
  background: #f5f5f5;
  border: 2px solid #2d1c44;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color: #2d1c44;
  cursor:  pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px;
  max-width: 80px;
}

.combined-and-generate-btns-container {
  column-gap: 24px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 360px;
}

.btn_combined-query-and-generate {
  flex: 0 0 auto;
  max-width: 200px;
}

.result-container {
  display: flex;
  flex-direction: column;
  margin: 8px 0 22px 0;
}

.result-header,
.result-summary {
  color: #2d1c44;
  font-size: 0.97rem;
  font-weight: bold;
  margin: 12px auto 10px auto;
  width: 900px;
}

.result-summary {
  width: 900px; /* Each result stays on one line. */
}

.result-content {
  background: hsl(0, 0%, 96%);
  border:  3px solid #d30059;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  color: #333f48;
  font-size: 0.97rem;
  font-weight: bold;
  height: 425px;
  margin: -12px auto auto auto; /* Minus value for margin-top as each line of the result summary contains a double <br> at the end, so the space between the last result summary line and the result-content box would be too big. */
  overflow: auto;
  padding: 15px 0 0 15px;
  resize: vertical;
  scrollbar-color: #bda5d9 #ffcce0; /* Firefox. */
  width: 900px;
}

@-moz-document url-prefix() {
  .result-header {
    font-size: 0.93rem;
  }
  .result-summary,
  .result-content {
    font-size: 0.8rem;
  }
}

.result-header_safari-font-smaller {
  font-size: 0.9rem;
}

.result-summary-and-content {
  font-size: 0.78rem;
}

.event-file-generated-info {
  background-color: #00b398;
  border-radius: 0.625rem;
  box-shadow: 8px 8px 20px -8px #333f48;
  box-sizing: border-box;
  color: #f5f5f5;
  display: flex;
  font-size: 1.125rem;
  height: 50px;
  justify-content: center;
  left: 50%;
  margin: 25px 0 0 -170px;
  padding-top: 0.8em;
  position: absolute;
  top: 174px;
  transform: translate(-9999px, 0);
  width: 340px;
}

.event-file-generated-info_visible {
  animation: on 0.1s ease-out;
  transform: translate(0, 0);
}

@keyframes on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.event-file-generated-info_hidden {
  animation: off 0.1s ease-out;
  transform: translate(0, 0);
}

@keyframes off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 56.188em) {  /* 899px */
  .search-options-container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* Equal to 464px */
  }
  .result-header,
  .result-summary,
  .result-content {
    font-size: 0.9rem;
  }
  .event-file-generated-info {
    margin-left: -160px;
    padding-top: 0.9em;
    top: 224px;
    width: 320px;
  }
}

@media only screen and (max-width: 53.688em) {  /* 859px */
  .result-content {
    width: 95.2278%; /* Equal to 818px */
    padding: 7px 0 0 7px;
  }
  .result-header {
    width: 95.2278%;
  }
  .result-summary {
    width: 100%;
  }
}

@media only screen and (max-width: 28.938em) { /* 463px */
  .result-header,
  .result-summary,
  .result-content {
    font-size: 0.6rem;
  }
  .select-box {
    font-size: 0.6rem;
    height: 22px;
  }
  .btn {
    font-size: 0.7rem;
    padding: 4px;
  }
  .event-file-generated-info {
    font-size: 1.7rem;
    height: 50px;
    margin: -25px 0 0 -170px;
    padding-top: 0.9em;
    top: 236px;
    width: 340px;
  }
}

@media only screen and (max-width: 22.063em) { /* 353px */
  .combined-and-generate-btns-container {
    width: 100%;
  }
  .select-box {
    font-size:  0.5rem;
    height: 20px;
  }
  .btn {
    font-size: 0.6rem;
    padding: 2px;
  }
  .event-file-generated-info {
    margin-left: -150px;
    top: 224px;
    width: 300px;
  }
}